@tailwind base;
@tailwind components;
@tailwind utilities;


.buttoncolor{
  background: linear-gradient(90deg, #1F0B3E 4.48%, #4F3A6F 76.12%);

}
.h-image{
  width: 715.67px;
height: 865.16px;
gap: 0px;
opacity: 0px;

}
/* .h-content{
  width:648.58px;
height:497.96px;
gap: 51.79px;
opacity: 0px;

}
.h-h{
  font-family: Roboto;
font-size: 64px;
font-weight: 400;
line-height: 69px;
text-align: left;

} */
 .sidebar{
  background-color: #4F3A6F;
 }
