@tailwind base;
@tailwind components;
@tailwind utilities;


.buttoncolor{
  background: linear-gradient(90deg, #1F0B3E 4.48%, #4F3A6F 76.12%);

}
.h-image{
  width: 715.67px;
height: 865.16px;
gap: 0px;
opacity: 0px;

}
/* .h-content{
  width:648.58px;
height:497.96px;
gap: 51.79px;
opacity: 0px;

}
.h-h{
  font-family: Roboto;
font-size: 64px;
font-weight: 400;
line-height: 69px;
text-align: left;

} */
 /* .sidebar{
  background-color: #341266;
 } */
/* *{
  border: 1px solid black;
} */
 /* .custome{
  background-color: rgba(52, 185, 102, 0.07);
 } */
 /* body{
  background-color: rgba(242, 240, 245, 1);
 } */
 .products{
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; }

  .h-logo img {
    aspect-ratio: 3/2;
    object-fit: contain;
    width: 100px;
    height: 100px;
  }
  .help{
    background: linear-gradient(90deg, #341266 0%, #6825CC 100%);

  }
  .rings{
    border-radius: 8rem;
  }
  .grad{
    background: linear-gradient(180deg, #41169A 0%, #D6D6D6 163.16%);

  }
  .videos video{
    background-color: #F5EDF6;
    width:250px;
    height:450px
  }
  .r-cards{
    background-color: #17082E;
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .blink {
    animation: blink 1s linear infinite;
  }